<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
<mat-toolbar>
  <span style="margin-right:60% ;">{{ title }}</span>
  <span class="example-spacer"></span>
  <button [routerLink]="['/home']" routerLinkActive="router-link-active" mat-icon-button class="example-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon></button>
  <button [routerLink]="['/cadastro']" routerLinkActive="router-link-active" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>inventory_2</mat-icon></button>
  <button [routerLink]="['/login']" routerLinkActive="router-link-active" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>lock</mat-icon></button>
  <button mat-icon-button class="example-icon" (click)="logout()">Sair  </button>
</mat-toolbar>
<router-outlet></router-outlet>
